.main {
  width: 63vw;
  margin-left: 16vw;
}
.heading {
  width: 98%;
  padding: 15px;
}
.main-content {
  width: 100%;
  display: flex;
}
.main-content-left {
  width: 67%;
  padding: 2%;
}
.main-content-right {
  width: 34%;
  border: 1px solid black;
  height: 100%;
}
.table-anushka-sharma {
  width: 100%;
  text-align: left;
  font-size: 14.08px;
  font-family: sans-serif;
  border-spacing: 3px;
  padding: 0.2em;
  line-height: 1.5em;
  order: 1px solid #a2a9b1;
  background-color: #f8f9fa;
}

.anushka-img {
  height: 297px;
  width: 220px;
}
p {
  font-size: 16px;
  font-family: sans-serif;
  margin: 8px 0px 16px;
  line-height: 1.6;
}
.name {
  font-size: 28.8px;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav > div > span {
  margin-right: 15px;
  font-size: 14px;
  font-family: sans-serif;
}
